body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Verdana", cursive, sans-serif;
  color: #ffffff;
}

body {
  background-color: #7cc6fe;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

.btn {
  padding: 1rem 2rem;
  background: #324f66;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
}

.navbar {
  height: 7rem;
  background-color: #252d4a;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.3rem;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.instruction-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.instruction-box > ul {
  background: #cbe8ff;
  padding: 2rem 8rem;
  border-radius: 2rem;
  box-shadow: #324f66 0px 7px 29px 0px;
  border: none;
  margin-bottom: 5rem;
}

.instruction-box li {
  color: black;
  margin-bottom: 2rem;
}

.start-btn:hover {
  background: #5d95bf;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  font-size: 2.5rem;
  font-style: italic;
}

/* ============== Question section css starts ===================== */

.question-container {
  /* background: red; */
  display: flex;
  flex-direction: column;
  padding: 2rem 8rem;
}

.question-section {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.answer-section button {
  display: block;
  width: 100%;
  background: #253b4c;
  color: #b7e0fe;
  text-align: left;
  margin-bottom: 1rem;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
}

.answer-section button:hover {
  background: #b7e0fe;
  color: #253b4c;
}

.submit-btn {
  background: #d8eeff;
  color: #253b4c;
  cursor: pointer;
}

.correct {
  background-color: #2f922f !important;
}

.incorrect {
  background-color: #ff3333 !important;
}
